<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">
        <nav class="sidebar">
            <div class="sidebar-brand" style="background-color: #1a4034; padding: 10px 20px; font-size: 1.6rem; font-weight: 700; color: #ffffff; border-bottom: 2px solid #ffffff; margin-top: -10px; text-align: center;">
                <!-- Section logo avec image arrondie -->
                <img src="/logo.png" alt="Logo" style="width: 80px; height: 80px; margin-bottom: 5px; border-radius: 50%;">
                <div>New ERP</div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item" th:classappend="${activePage == 'dashboard'} ? 'active'">
                    <a th:href="@{/dashboard}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'inventory'} ? 'active'">
                    <a th:href="@{/suppliers}"><i class="fas fa-boxes"></i> Fournisseurs</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'purchase-invoices'} ? 'active'">
                    <a th:href="@{/purchase-invoices}"><i class="fas fa-file-invoice"></i> Factures </a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'rfq-form'} ? 'active'">
                    <a th:href="@{/rfq-form}"><i class="fas fa-file-alt"></i> RFQ Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/update-uom}">Update UOM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/import-csv}">Import</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn btn-link"><i class="fas fa-sign-out-alt"></i> Log Out</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>