<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">
        <nav class="sidebar">
            <div class="sidebar-brand" style="background-color: #1a4034; padding: 10px 20px; font-size: 1.6rem; font-weight: 700; color: #ffffff; border-bottom: 2px solid #ffffff; margin-top: -10px; text-align: center;">
                <!-- Section logo avec image arrondie -->
                <img src="/logo.png" alt="Logo" style="width: 80px; height: 80px; margin-bottom: 5px; border-radius: 50%;">
                <div>New ERP</div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item" th:classappend="${activePage == 'dashboard'} ? 'active'">
                    <a th:href="@{/dashboard}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'csv-import'} ? 'active'">
                    <a th:href="@{/csv-import}"><i class="fas fa-file-import"></i> Import CSV</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'hrms-import'} ? 'active'">
                    <a th:href="@{/api/hrms-csv-import/}"><i class="fas fa-file-import"></i> Import HRMS</a>
                </li>  
                <li class="nav-item" th:classappend="${activePage == 'employees'} ? 'active'">
                    <a th:href="@{/employees}"><i class="fas fa-users"></i> Employés</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'payroll'} ? 'active'">
                    <a th:href="@{/payroll}"><i class="fas fa-file-invoice-dollar"></i> Paie</a>
                </li>    
                <li class="nav-item" th:classappend="${activePage == 'payroll-months'} ? 'active'">
                    <a th:href="@{/payroll/months}"><i class="fas fa-calendar-alt"></i> Paie Mensuelle</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'generateSalary'} ? 'active'">
                    <a th:href="@{/generate-salary}"><i class="fas fa-money-check-alt"></i> Générer Salaires</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'updateBaseSalary'} ? 'active'">
                    <a th:href="@{/update-base-salary}"><i class="fas fa-money-bill-wave"></i> Modifier Salaire de Base</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn btn-link"><i class="fas fa-sign-out-alt"></i> Log Out</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>